.header {
  background-color: #f7f7f7;
  border-bottom: 4px solid #00d9a2;
  border-image: linear-gradient(to right, #00d9a2, #4accf4);
  border-image-slice: 1;
  height: 120px;
  padding: 0 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;


  .logo {
    img {
      display: inline-block;
      vertical-align: baseline;
    }

    .caption {
      display: inline-block;
      margin-left: -5px;
      > span {
        display: block;
      }
    }
  }

  .search {
    margin-left: auto;
    input {
      background: url(../images/search.png) no-repeat 170px center;
      padding:0 25px;
      font-size: 12px;
      outline: none;
      border:2px solid #8e8e8e;
      width:200px;
      height: 45px;
      border-radius:20px;
    }
  }

  .credentials {
    margin-left: 140px;
    font-size: 16px;
    font-weight: 600;
    color:#3b3b3b;
    .login, .registration {
      color:#3b3b3b;
      text-decoration: underline;
      padding: 0 5px;
    }
  }
}