@mixin border-top($size, $color) {
  border-top: $size solid $color;
}

@mixin border-bottom($size, $color) {
  border-bottom: $size solid $color;
}

@mixin circle($size) {
  height: $size;
  width: $size;
  line-height: $size;
  border-radius: 50%;
  text-align: center;
}