@import "variables";

.hamburger {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 5px;
  background-color: #ffffff;
  -webkit-transition-property: background-color, -webkit-transform;
  transition-property: background-color, -webkit-transform;
  transition-property: background-color, transform;
  transition-property: background-color, transform, -webkit-transform;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;

  &::before,
  &::after {
    content: '';
    display: block;
    width: 30px;
    height: 5px;
    position: absolute;
    background-color: #ffffff;
    -webkit-transition-property: margin, -webkit-transform;
    transition-property: margin, -webkit-transform;
    transition-property: margin, transform;
    transition-property: margin, transform, -webkit-transform;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
  }
  &::before {
    margin-top: -10px;
  }
  &::after {
    margin-top: 10px;
  }
}

.navigation {
  background: $nav-color;
  border: none;
  display: none;
  padding: 50px 0;
  position:absolute;
  width:200px;
  z-index: 5;

  .hide-navigation {
    position: absolute;
    top: 8px;
    right: 10px;
    color: $white;
    font-size: 14px;
    font-weight: 700;

    &:hover {
      color: #2ddf65;
      cursor: pointer;
    }
  }

  ul {
    list-style: none;
  }

  li {
    position:relative;
    //&.navbar-item {
    //  span:hover {
    //    color: #ffffff;
    //  }
    //}
    > a {
      text-align: left;
      padding-left: 65px;
    }
  }

  a {
    display:block;
    color: white;
    text-decoration:none;
    padding:10px 15px;
    background:$nav-color;
    transition:0.2s;

    &:hover {
      span {
        color: $nav-hovered;
        &::before {
          color: $nav-hovered;
          background: $nav-hovered;
        }
      }
    }

    //&::before {
    //  background: white;
    //  bottom: 0;
    //  border-radius: 3px;
    //  color: white;
    //  content: none; // temporary disable
    //  display: block;
    //  height: 6px;
    //  position: absolute;
    //  top:0;
    //  margin: auto;
    //  width: 6px;
    //}

    span {
      display: inline-block;
      position: relative;
      &::before {
        background: white;
        bottom: 0;
        border-radius: 3px;
        content: '';
        display: block;
        height: 6px;
        position: absolute;
        top:0;
        margin: auto;
        width: 6px;
        left: -15px;
      }
    }
  }

  li:hover > a{
    //background:$nav-hovered;
  }
  ul ul{
    position:absolute;
    left:0%;
    top:0;
    width:100%;
    visibility:hidden;
    opacity:0;
    transition: transform 0.2s;
    transform: translateX(50px);

    a {
      padding: 10px 15px;
      text-align:center;
      span {
        &::before {
          content: none;
        }
      }
    }
  }
  li:hover > ul,
  li:active > ul {
    left:100%;
    visibility:visible;
    opacity:1;
    transform: translateX(0px);
  }
}

@media (min-width: $screen-sm) {
  .hamburger {
    background: #2c2c2c;
    &::before,
    &::after {
      background: #2c2c2c;
    }
  }
}

@media (min-width: $screen-md) {
  .hide-navigation {
    display: none;
  }
  #nav > .navbar > .navbar-item {
    min-width: auto;
    width: 14.28571428571429%;
    padding: 0 10px;
    box-sizing: border-box;
    margin-right: -4px;
  }

  .navigation {
    display: block;
    position:static;
    padding: 0;
    width:100%;
    border-top: 4px solid #00d9a2;
    border-image: linear-gradient(to right, #00d9a2, #4accf4);
    border-image-slice: 1;
    font-size: 1rem;
    font-weight: $bold;
    background-color: $nav-color;

    a {
      display:block;
      color: white;
      text-decoration:none;
      padding:10px 15px;
      background:$nav-color;
      transition:0.2s;

      &:hover {
        span {
          color: white;
          &::before {
            color: white;
            background: white;
          }
        }
      }
    }

    li > a,
    a, span {
      padding: 0;
    }

    .navbar-item {

      > a {

        > span {
          &::before {
            content: '';
            left: -30px;
          }

          &::after {
            background-image: linear-gradient(to right, #00d9a2, #4accf4);;
            bottom: 0;
            content: '';
            display: block;
            height: 4px;
            position: absolute;
            transition: width .4s;
            width: 0;
          }
        }
      }

      &:hover {
        > a {
          background: $nav-color;
          > span {
            position: relative;
            &::after {
              width: 100%;
            }
          }
        }
      }
    }

    > ul {
      list-style-type: none;
      margin: 0;
      padding:0 20px;

      li:hover > a {
        background:$nav-hovered;
      }

      > li {
        position: relative;
        text-align: center;
        min-width: 140px;
        height: 100%;
        display: inline-block;

        > a {
          height: 100%;
          font-size: 1rem;
          line-height: 50px;
          text-decoration: none;
          text-align: center;
          &:hover {
            color: #ffffff;
          }
        }
      }
    }

    // second level
    li {
      &:hover,
      &:active {
        ul {
          display: block;
          right: 0;
          left: 50%;
          transform: translate(-50%);
          width: 170px;
        }
      }

      > ul {
        background-color: $nav-color;
        display: none;
        position: absolute;
        top: 100%;
        list-style-type: none;
        width: 220px;
        z-index: 10;
        li {
          text-align: center;
          &:hover,
          &.active {
            background: #3ce176;
          }

          a {
            text-decoration: none;
            &::before {
              content: none;
            }
            &.more::after {
              content: "\2192";
              margin-left: 5px;
            }
          }
        }
        a {
          border-top: 1px solid #535559;
          font-weight: 400;
          font-size: 1.14rem;
          padding: 10px 0;
        }
      }

      a {
        color: #ffffff;
        display: block;

      }
    }
  }
}

@media (min-width: $screen-lg) {
  .navigation {
    > ul {
      padding: 0 100px;
    }

    li:hover > ul {
      width: 220px;
    }
  }
}
