@import "variables";

.sprite {
  background: url($sprite) no-repeat;
  content: '';
  display: inline-block;
  position: relative;
}

.sprite {
  &__eye {
    @extend .sprite-eye;
  }
  &__calendar {
    @extend .sprite-calendar;
  }

  &__arrow-right {
    &::before {
      background: url($sprite) no-repeat -184px -7px;
      content: '';
      display: inline-block;
      height: 14px;
      padding-right: 15px;
      width: 10px;
    }
    &:hover::before {
      background-position: -168px -7px;
    }
  }

  &__favorite {
    background: url($sprite) no-repeat -200px -8px;
    display: inline-block;
    height: 25px;
    width: 20px;
    &--added {
      background: url($sprite) no-repeat -225px -8px;
    }
  }

  &__email {
    position: relative;
    padding-left: 55px;
    text-transform: uppercase;
    &::before {
      background: url($sprite) no-repeat -249px 0px;
      content: '';
      display: inline-block;
      height: 31px;
      width: 40px;
      position: absolute;
      left: 0;
      top:-10px;
    }
    &:hover::before {
      background: url($sprite) no-repeat -290px 0px;
    }
  }
}

.sprite-eye {
  &::before {
    @extend .sprite;
    background-position: -5px -8px;
    height: 15px;
    width: 32px;
  }
}

.sprite-calendar {
  &::before {
    @extend .sprite;
    background-position: -84px -6px;
    height: 14px;
    width: 27px;
  }
}

.sprite-search {
  display: inline-block;
  &::before {
    @extend .sprite;
    background-position: -367px -3px;
    display: block;
    height: 30px;
    width: 30px;
    cursor: pointer;
    margin: auto;
  }
}
.sprite-credentials {
  display: inline-block;

  &:hover {
    &::before{
      background-position: -37px -30px;
    }
  }
  &::before {
    @extend .sprite;
    background-position: -3px -30px;
    display: block;
    height: 35px;
    width: 35px;
    cursor: pointer;

  }
}
