// variables
$open-sans: 'Open Sans', sans-serif;
$document-background: #f2f6f8;
$container-background:  #f7f7f7;
$white: #fff;
$black: #000;
$sprite: './../images/sprite.png';

// font weight
$light: 300;
$regular: 400;
$semibold: 600;
$bold: 700;

// navigation variables
$nav-color: #2e3137;
$nav-hovered: #3ce176;
$nav-link-color: #fff;

// slick slider theme variables
$slick-font-path: "./fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "./" !default;
$slick-arrow-color: white !default;
$slick-dot-color: #b5b5b5 !default;
$slick-dot-color-active: #49c3c2 !default;
$slick-prev-character: "\2190" !default;
$slick-next-character: "\2192" !default;
$slick-dot-character: "\2022" !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

// rating variables
$stars: 5;
$star-size: 20px;
$star-spacing: 2px;
$star-on-color: #ffe000;
$star-off-color: #a6a6a6;

// screen
$screen-lg: 1260px;
$screen-md: 992px;
$screen-sm: 768px;
// container
$container-lg: 1230px;
$container-md: 960px;
$container-sm: 720px;


// navs
//$navbar-height: 64px;
//$navbar-default-bg: #2e3137;
//$navbar-default-border: $navbar-default-bg;
//$navbar-border-radius: 0;
//
//$navbar-default-link-color: $white;
//$navbar-default-link-hover-color: $white;
//$navbar-default-link-active-color: $white;
//$navbar-default-link-active-bg: $navbar-default-bg;
//$navbar-default-brand-hover-bg: $white;
//$navbar-default-link-active-bg: $white;
