include ../../core/mixins

article(class="row")
  div(class="col-md-3 col-sm-4 visible-sm hidden-xs")
    figure(class="section-list__figure")
      a(href="#")
        img(src=`/images/170x140/${i ? i : 0}.png`)
  div(class="col-md-8 col-sm-8 col-xs-12")
    h3(class="section-list__caption")
      a(href="#") Эпифамин
    +breadcrumbs('Лекарства', 'Повышение иммунитета')
    div(class="section-list__desc")
      | Психовегетативный синдром (вегетативная дистония, психастенический упадок
      | и др.) — это синдром, при котором у человека  наблюдаются нарушения
      | вегетативных функций ...