@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic-ext');

// Font awesome
@import "../plugins/font-awesome-4.7.0/scss/font-awesome";
@import "core/variables";

@import "../plugins/slick-1.6.0/slick/slick.scss";
@import "../plugins/slick-1.6.0/slick/slick-theme.scss";

@import "core/reset";
@import "components/common";
@import "core/nav";
@import "core/sprite";

// components
//@import "components/navigation";
@import "components/grid";
@import "components/toxins";
@import "components/directory";
@import "components/breadcrumbs";
@import "components/section";
@import "components/decoration";
@import "components/pagination";
@import "components/modal";

// pages
@import "pages/_home";
@import "pages/_article";
@import "pages/_supplement";
@import "pages/_illnesses";
@import "pages/_supplements";
@import "pages/_category";
@import "pages/_symptoms";
@import "pages/_contacts";
@import "pages/_catalog";

.slick-slide img {
  margin:auto;
}

html, body {
  font-style: normal;
  font-variant: normal;
  font-weight: $regular;
  font-stretch: normal;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1;
}

body {
  background: #f2f6f8;
}

.header {
  box-sizing: border-box;
  background: #242424;
  padding-right: 10px;
  padding-left: 10px;
  .row {
    box-sizing: border-box;
    //padding-left: 0;
    //padding-right: 0;
    height: 70px;
  }
  .search {
    input {
      border: none;
      border-radius: 10px;
      box-sizing: border-box;
      padding: 0 10px;
      width: 100%;
      height: 30px;
      font-size:.86rem;
      outline: none;
      transition: all .5s linear;
    }
  }
  .credentials-xs,
  .search-xs {
    .fa {
      color:#ffffff;
      cursor: pointer;
    }
  }
}

.content {
  background: $white;
  padding: 20px 30px;
  box-sizing: border-box;
  display: flex;
}

.main {
  flex: 0 0 100%;
  box-sizing: border-box;
  max-width: 100%;
  img {
    //width: 100%;
    max-width: 100%;
  }
}

.sidebar {
  flex:0 0 295px;
  padding-top: 70px;

  > ul {
    list-style-type: none;
    padding-bottom: 70px;
    width: auto;
    > li {
      padding:0 25px;
      &:not(:last-child) a {
        border-bottom: 1px solid #e0e0e0;
      }
      > a {
        box-sizing: border-box;
        color: #515050;
        cursor: pointer;
        position: relative;
        display: block;
        text-decoration: none;
        padding:13px 10px;
        line-height: 14px;

        &::before {
          background: #d0d0d0;
          bottom: 0;
          border-radius: 3px;
          content: '';
          display: block;
          height: 6px;
          position: absolute;
          top:0;
          left: -3px;
          margin: auto;
          width: 6px;
        }

        &:hover {
          text-decoration: none;
          color:#515050;
        }

        &:hover::before {
          background: #7fe086;
        }
      }
    }
  }

  &__title {
    background: #17a5ce;
    color: $white;
    padding: 9px 25px!important;
    line-height: 32px;
    position: relative;
    display: flex;
    align-items: center;

    .fa {
      margin-right: 5px;
    }
  }
}

.footer {
  background: #2e2e2e;
  color: #fff;
  padding-bottom: 5px;

  &__nav-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 10px 0 10px;
  }

  &__nav-left {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    .footer__ceil {
      flex: 1 1 100%;
    }
    .caption a {
      text-decoration: underline;
    }
  }

  &__nav-right {
    flex: 2;
    display: flex;
    .footer__ceil {
      flex: 2;
    }
  }

  &__ceil {

    .fa {
      min-width: 25px;
    }

    li.caption {
      font-size: 1.14rem;
      font-weight: 600;
      padding-bottom: 20px;
      line-height: 30px;
      a {
        color: inherit;
      }

    }

    li:not(.caption) {
      line-height: 1.86rem;
      font-size: 1rem;
      a {
        color: $white;
        text-decoration: none;
      }
    }
  }

  p {
    font-size: .71rem;

    &:nth-child(2) {
      max-width: 740px;
      line-height: 17px;
      border-top:1px solid #747474;
      padding: 10px 110px 0 0;
    }

    &:nth-child(3) {
      padding-top: 35px;
      text-align: center;
    }
  }
}

.main > .breadbasket {
  height: 70px;
}

.main > .section,
.toxins {
  padding-bottom: 50px; // after each section

  header.head {
    padding-bottom: 20px;
    h2.heading {
      padding-bottom: 20px;
      line-height: 22px;
      text-transform: none;
    }
    .decoration {
      width: 74px;
      height: 7px;
    }
  }
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #f7f7f7;
}

@media (min-width: $screen-sm ) {
  html, body {
    font-size: 12px;
  }
  .header {
    background-color: #f7f7f7;

    .row {
      height: 120px;
      padding: 0 10px;
    }

    .logo {
      img {
        display: inline-block;
        vertical-align: baseline;
      }

      .caption {
        display: inline-block;
        margin-left: 5px;
        text-align: left;
        > span {
          display: block;
        }
      }
    }

    .search {
      input {
        background: url(../images/search.png) no-repeat right 15px center;
        padding:0 35px 0 25px;
        //font-size:.86rem;
        //outline: none;
        border: 2px solid #8e8e8e;
        border-radius: 20px;
        max-width: 200px;
        height: 45px;
        //-webkit-transition: all .5s linear;
        //-moz-transition: all .5s linear;
        //-o-transition: all .5s linear;
        transition: all .5s linear;

        &:focus {
          background: url(../images/icons/search-focus.png)  no-repeat right 15px center;
          border-color: $black;
          width: 100%;
          max-width: 100%;
        }
      }
    }

    .credentials {
      font-size: 1.14rem;
      font-weight: 700;
      color:#3b3b3b;
      .login, .registration {
        color:#3b3b3b;
        text-decoration: underline;
        padding: 0 5px;
      }
    }
  }
  .main {
    flex: 0 0 calc(100% - 230px);
    padding-right: 25px;
    box-sizing: border-box;
    max-width: calc(100% - 230px);
    img {
      max-width: 100%;
    }
  }
  .content {
    padding: 20px 15px;
  }
  .sidebar {
    flex: 0 0 230px;
  }
  .logo {
    img {
      max-width: 80px;
    }
  }
  .footer {
    padding: 40px 30px 25px 30px;

    &__nav-wrapper {
      display: flex;
      flex-wrap: wrap;
      padding: 0 0 25px;
    }

    &__nav-left {
      display: flex;
      flex: 4;
      flex-wrap: wrap;

      .footer__ceil {
        flex: 1 1 0;
      }
    }

    &__ceil {
      .fa {
        min-width: 20px;
      }
      .caption a {
        text-decoration: none;
      }
    }
  }
}

@media (min-width: $screen-md ) {
  html, body {
    font-size: 14px;
  }
  .content {
    padding: 20px;
  }
  .main {
    flex: 0 0 calc(100% - 275px);
    max-width: calc(100% - 275px);
  }
  .sidebar {
    flex: 0 0 275px;
  }
  .footer {
    padding: 50px 100px 25px 100px;
  }

  .header {
    .row {
      height: 120px;
      padding: 0 30px;
    }
  }
}

@media (min-width: $screen-lg ) {

}
