include ../../core/mixins

article(class="row")
  div(class="col-md-3 col-sm-4 visible-sm hidden-xs")
    figure(class="section-list__figure")
      a(href="#")
        img(src=`/images/170x140/${i ? i : 0}.png`)
  div(class="col-md-8 col-sm-8 col-xs-12")
    h3(class="section-list__caption")
      a(href="#") Бессонница
    +breadcrumbs("Симптомы", "Бессонница")
    div(class="section-list__desc")
      | Бессонницей (другое название — инсомния) называется расстройство сна
      | у человека, при котором отмечается либо недостаточная продолжительность
      | сна, либо его ....