extends  core/layout

include core/mixins

block main
  main(class="main")
    // breadcrumbs
    div(class="breadbasket")
      div(class="row")
        div(class="col-xs-12")
          +breadcrumbsBg("Главная", "Статьи")

    section(class="section articles")
      header(class="head")
        div(class="row top-xs")
          div(class="col-xs-12")
            h2(class="heading") Статьи
            +decoration

      div(class="list")
        - for (var i = 0; i < 7; i++)
            include components/article
        div(class="row list__pagination")
          div(class="col-xs-12")
            include components/pagination

block bottom
  // dictionary
  include components/dictionary

  // directory
  include components/directory