extends  core/layout

include core/mixins

append header
  link(
    href='/plugins/slick/slick.css',
    rel='stylesheet'
  )

block main
  main(class="main news-item")
    // breadcrumbs
    div(class="breadbasket")
      div(class="row")
        div(class="col-xs-12")
          +breadcrumbsBg("Главная", "Статьи", "Витамин В3 предотвратит глаукому")

    article
      header
        div(class="row")
          div(class="col-sm-8 col-xs-12 pb-10")
            h1(class="title") Витамин В3 предотвратит глаукому
          div(class="col-sm-4 col-xs-12")
            div(class="row top-md")
              div(class="col-sm-6 end-sm col-xs-5 start-xs")
                span(class="sprite-calendar date") 11.11.2017
              div(class="col-sm-4 center-sm col-xs-3 start-xs")
                span(class="sprite-eye views-count") 989
              div(class="col-sm-2 end-sm col-xs-3 start-xs")
                span(class="comments-count") 3
      div(class="row")
        figure(class="figure col-xs-12")
          img(src="/images/835x290/0.png" class="thumbnail")

      div(class="body")
        h4(class="caption") Фармакологическое действие
        p
          | Доксепин относится к группе трициклических антидепрессантов, производных дибензоксепина. Обладает комплексным
          | действием - преимущественно антидепрессивным, антипаническим (анксиолитическим), обезболивающим центрального
          | действия, умеренным противоязвенным, противозудным. За счет высокой афинности к м-холинорецепторам оказывает
          | центральное и периферическое холиноблокирующее действие; оказывает седативное и альфа-адреноблокирующее
          | действия, замедляет внутрижелудочковую проводимость в средних дозах, при превышении дозировки может вызывать
          | нарушения ритма и проводимости, в крайних случаях остановку сердца.
        p
          | Ранее анксиолитическое и позднее антидепрессивное действие реализуется за счет накопления серотонина и
          | норадреналина в центральной нервной системе и синапсах, за счет нарушения их обратного всасывания в результате
          | обратного нейронального захвата. Длительное применение нормализует адренергическую и серотонинергическую
          | передачу, которые нарушаются при депрессивных состояниях. Улучшает настроение, устраняет апатию, уменьшает
          | тревогу, панические и депрессивные проявления. Эффективен при булемических расстройствах как сопровождающихся ,
          | так и без нее. Уменьшает вегетативные проявления при невротических расстройствах.
        p
          | Ранее анксиолитическое и позднее антидепрессивное действие реализуется за счет накопления серотонина и
          | норадреналина в центральной нервной системе и синапсах, за счет нарушения их обратного всасывания в результате
          | угнетения обратного нейронального захвата. Длительное применение нормализует адренергическую и
          | серотонинергическую передачу, которые нарушаются при депрессивных состояниях. Улучшает настроение,
          | устраняет апатию, уменьшает тревогу, панические и депрессивные проявления. Эффективен при булемических
          | расстройствах как сопровождающихся депрессией, так и без нее. Уменьшает вегетативные проявления при
          |  невротических расстройствах.
        p
          | Ранее анксиолитическое и позднее антидепрессивное действие реализуется за счет накопления серотонина и
          | норадреналина в центральной нервной системе и синапсах, за счет нарушения их обратного всасывания в
          | результате угнетения обратного нейронального захвата.

    section(class="section popular-drugs")
      div(class="row")
        div(class="col-xs-12")
          h2(class="heading") Популярные БАД
          +decoration

      include components/slider/row

    // similar articles
    section(class="section similar bt-1")
      div(class="row")
        div(class="col-xs-12")
          h2(class="heading") Еще по теме
          +decoration
      div(class="similar__body")
        - for(var i=0; i < 4; i++)
          figure(class="similar__item")
            a(href="#")
              img(src="./images/human-genom-item.png")
            figcaption Геном человека
    // comments
    include components/comments


append footer
  script(src="/plugins/slick/slick.js")
  script(src="/js/app.js")