extends  core/layout

include core/mixins

append header
  link(
    href='/plugins/slick/slick.css',
    rel='stylesheet'
  )

block main
  main(class="main catalog")
    // breadcrumbs
    div(class="breadbasket")
      div(class="row")
        div(class="col-xs-12")
          +breadcrumbsBg("Главная", "Справочник")

    section(class="section catalog-illnesses")
      header(class="head")
        div(class="row top-xs")
          div(class="col-xs-12")
            h2(class="heading") Справочник болезней и симптомов
            +decoration
      div(class="row")
        div(class="col-xs-12 pb-15")
          h4(class="catalog__title bb-1 ptb-20") Болезни по категориям

      div(class="row between-sm center-xs")
        - for (var j = 0; j < 12; j++)
            include components/catalog/item

      div(class="row end-xs pt-30")
        div(class="col-xs-12")
          a(href="#" class="btn btn-arrow upper") смотреть все категории

    section(class="section catalog-symptoms")
      header(class="head")
        div(class="row top-xs")
          div(class="col-xs-12")
            h2(class="heading") Симптомы
            +decoration

      - for (var i = 0; i < 3; i++)
          include components/symptoms/item

      div(class="row end-xs")
        div(class="col-xs-12")
          a(href="#" class="btn btn-arrow upper") смотреть все категории

block bottom
  // directory component
  include components/directory

append footer
  script(src="/plugins/slick/slick.js")
  script(src="/js/app.js")