//- index page
extends core/layout

include core/mixins

block main
  main(class="main ")
    // breadcrumbs
    div(class="breadbasket")
      div(class="row")
        div(class="col-xs-12")
          +breadcrumbsBg("Главная", "Контакты")

    section(class="section contacts")
      header(class="head")
        div(class="row top-xs")
          div(class="col-xs-12")
            h2(class="heading") Контакты
            +decoration

      div(class="contacts__body")
        p MEDSIDE — современный медицинский информационный портал.
        p
          | На страницах сайта представлена информация справочного характера о заболеваниях,
          | симптомах и лекарственных препаратах. На сайте каждый день публикуются интересные и
          | актуальные новости из мира медицины.
        p
          | В разделе Болезни содержится информация о большинстве наиболее распространенных
          | заболеваниях, о методах их диагностики и лечения.
        p
          | В разделе Симптомы можно найти информацию о любом беспокоящем симптоме, о причинах
          | его проявления и способах борьбы с ним.
        p
          | В разделе Лекарства находится информация о всех необходимых лекарственных препаратах.
          | В разделе Новости медицины ежедневно публикуются все последние мировые и региональные
          | новости, касающиеся медицины и здравоохранения.
        p
          | В разделе Медицинский справочник расположены информационные познавательные статьи,
          | которые помогут всегда оставаться здоровым и как можно лучше понять свой организм.
          | Раздел Медицинский словарь содержит описание наиболее распространенных научных
          | медицинских терминов.
      footer(class="contacts__footer")
        div
          span(class="email sprite__email") info@piluli.kharkov.ua
        div
          a(href="mailto:info@piluli.kharkov.ua" class="btn") Отправить сообщение

block bottom
  include components/directory
