extends  core/layout

include core/mixins

block main
  main(class="main")
    // breadcrumbs
    div(class="breadbasket")
      div(class="row")
        div(class="col-xs-12")
          +breadcrumbsBg("Главная", "Словарь", "Слово")

    article(class="section dictionary-item")
      header(class="head")
        div(class="row top-xs")
          div(class="col-xs-12")
            h2(class="heading bb-1") Токсины
      div(class="row")
        div(class="col-xs-12 dictionary-item__body")
          | Токсинами называются яды биологического происхождения. Токсинология – это наука о таких ядах.
          | Выработка токсинов в человеческом организме может происходить в результате множества процессов и реакций,
          | к примеру, опухолевые клетки вырабатывают токсины, а также инфекционные агенты, такие как грибы, вирусы,
          | бактерии, паразиты, гельминты в частности, способны производить яды.
          | Эндотоксины представляют собой вещества, которые после выделения бактериями попадают в их среду обитания,
          | то есть остаются внутри организма.   Эндоксины обладают всеми свойствами, присущими ядам.
          | Экзотоксины – это вещества, которые секретируются в окружающую среду в процессе жизнедеятельности
          | микроорганизмов, они являются менее опасными для организма.
          | Токсины различаются по воздействию на организм. Токсины-ферменты  разрушают белки, липиды, полисахариды,
          | нуклеиновые кислоты. Токсины ингибиторы способны подавлять активность некоторых ферментов и нарушать
          | тем самым процессы метаболизма в организме. Нейротоксины оказывают воздействие на этапы передачи
          | нервных импульсов, нарушают проводимость нервных тканей и волокон. Такие токсины разрушают
          | биологические мембраны благодаря своей высокой поверхностной активности.

    section(class="section dictionary")
      header(class="head")
        div(class="row top-xs")
          div(class="col-xs-12")
            h2(class="heading") Случайные термины
            +decoration
      div(class="list")
        - for (var i=0; i < 3; i++)
            include components/dictionary/item

    section(class="section articles")
      header(class="head")
        div(class="row top-xs")
          div(class="col-xs-12")
            h2(class="heading") Статьи по теме
            +decoration

      div(class="list")
        - for (var i = 0; i < 4; i++)
            include components/article

block bottom
  // dictionary
  include components/directory

append footer
  script(src="/plugins/slick/slick.js")
  script(src="/js/app.js")