extends  core/layout

include core/mixins

append header
  link(
    href='/plugins/slick/slick.css',
    rel='stylesheet'
  )

block main
  main(class="main illnesses")
    // breadcrumbs
    div(class="breadbasket")
      div(class="row")
        div(class="col-xs-12")
          +breadcrumbsBg("Главная", "БАД")

    section(class="section illnesses__grid")
      header(class="head")
        div(class="row top-xs")
          div(class="col-xs-12")
            h2(class="heading") Болезни
            +decoration

      div(class="category-grid grid")
        - for (var i = 0; i < 35; i++)
          div(class="grid__item")
            a(href="#")
              figure(class="grid__img")
                  img(src="/images/illnesses__list-item.png")
                  figcaption(class="grid__caption")
                    span(class="grid__title") Аллергология
                    div(class="decoration")
                      span(class="decoration--black")
                      span(class="decoration--aqua")
                      span(class="decoration--spring")

    section(class="section popular-drugs")
      div(class="row")
        div(class="col-xs-12")
          h2(class="heading") Популярные лекарства
          +decoration

      include components/slider/row

block bottom
  // dictionary
  include components/directory

append footer
  script(src="/plugins/slick/slick.js")
  script(src="/js/app.js")