extends  core/layout

include core/mixins

block main
  main(class="main illnesses-category")
    // breadcrumbs
    div(class="breadbasket")
      div(class="row")
        div(class="col-xs-12")
          +breadcrumbsBg("Главная", "Справочник", "Болезни", "Аллергология")

    section(class="section category")
      header(class="head")
        div(class="row top-xs")
          div(class="col-xs-12")
            h2(class="heading") Аллергология

      div(class="list")
        - for (var i = 0; i < 7; i++)
          div(class="row list__item")
            div(class="col-md-3 col-xs-4")
              figure(class="list__thumbnail")
                a(href="#")
                  img(src=`/images/170x150/${i%5}.png`)
            div(class="col-md-9 col-xs-8")
              div(class="row")
                div(class="col-sm-8 col-xs-12")
                  h4(class="list__header")
                    a(href="#") Крапивница
                div(class="col-sm-4 col-xs-12")
                  div(class="list__rating")
                    include components/rating
              div(class="row")
                div(class="col-xs-12")
                  p(class="list__desc")
                    | Токсинами называются яды биологического происхождения. Токсинология – это наука о
                    | таких ядах. Выработка токсинов в человеческом организме может происходить в результате
                    | Токсинами называются яды биологического происхождения. Токсинология – это наука о
                    | таких ядах. Выработка токсинов в человеческом организме может происходить
                    | в результате.....

        div(class="row list__pagination")
          div(class="col-xs-12")
            include components/pagination

block bottom
  // dictionary
  include components/directory