extends  core/layout

include core/mixins

block main
  main(class="main home")
    // News
    section(class="section home__news")
      div(class="row")
        div(class="col-xs-12")
          h2(class="heading") Новости
          +decoration
      div(class="row around-md")
        - for (var i=0; i < 2; i++)
          article(class="col-lg-5 col-md-6 col-sm-6 col-xs-12 home__news-item")
            span(class="home__news-item-date") 23 марта 2017
            h3(class="home__news-item-title")
              a(href="/article.html") Гены-убийцы здоровья!
            figure(class="")
              a(href="/article.html")
                img(src="./images/genomics.png")
            div(class="home__news-item-preview")
              | Но, что особенно важно – гены несут всю
              | информацию о здоровье человека и его
              | предрасположенности к различным
              | болезням: аллергии, диабету, ожирению
              | сердечной недостаточности, #[br/]
              | болезни Альцгеймера...
            footer(class="row bottom-md home__news-item-footer info")
              a(href="/article.html" class="col-xs-8 info__read-more") Подробнее
              div(class="col-xs-2 center-xs")
                span(class="views-count info__views-count") 989
              div(class="col-xs-2 center-xs")
                span(class="comments-count info__comments-count") 3
    // News
    section(class="home__articles section")
      header(class="head")
        div(class="row top-xs")
          div(class="col-xs-12")
            h2(class="heading") Cтатьи
            +decoration
      div(class="row home__articles-body")
        - for (var i=0; i < 6; i++)
          div(class="col-sm-4 col-xs-12")
            article(class="home__articles-item")
              figure
                img(src="./images/article.png" alt="")
                figcaption
                  | Витамин B3 - возможность предотвратить глаукому...
                  | #[a(href="#") Читать далее ]
    // Illnesses
    section(class="home__illnesses section section-list")
      header(class="head")
        div(class="row top-xs")
          div(class="col-xs-12")
            h2(class="heading") Справочник болезней
            +decoration
      - for (var i = 0; i < 3; i ++)
        include components/illnesses/item
    // Pills
    section(class="home__pills section section-list")
      header(class="head")
        div(class="row top-xs")
          div(class="col-xs-12")
            h2(class="heading") Лекарства
            +decoration
      - for (var i = 0; i < 3; i ++)
        include components/pills/item
    // Symptoms
    section(class="home__pills section section-list")
      header(class="head")
        div(class="row top-xs")
          div(class="col-xs-12")
            h2(class="heading") Симптомы
            +decoration

      - for (var i = 0; i < 3; i++)
        include components/symptoms/item

block bottom
  // toxins
  include components/dictionary
  // dictionary
  include components/directory

append footer
  script(src="/plugins/slick/slick.js")
  script(src="/js/app.js")