extends  core/layout

include core/mixins

block main
  main(class="main")
    // breadcrumbs
    div(class="breadbasket")
      div(class="row")
        div(class="col-xs-12")
          +breadcrumbsBg("Главная", "Новости")

    section(class="section news") 
      header(class="head")
        div(class="row top-xs")
          div(class="col-xs-12")
            h2(class="heading") Новости
            +decoration

      div(class="list")
        - for (var i = 0; i < 7; i++)
          div(class="list__item")
            div(class="row")
              div(class="col-md-3 col-sm-4 visible-sm hidden-xs")
                figure(class="list__thumbnail")
                  a(href="#")
                    img(src=`/images/170x150/${i%5}.png`)
              div(class="col-md-9 col-sm-8 col-xs-12")
                div(class="row")
                  div(class="col-xs-12")
                    h4(class="list__header")
                      a(href="#") Гены - убийцы здоровья
                  div(class="col-xs-12")
                    div(class="list__date pb-10") 11.11.17
                div(class="row")
                  div(class="col-xs-12")
                    p(class="list__desc")
                      | Бессонницей (другое название — инсомния) называется расстройство сна у человека, при
                      | котором отмечается либо недостаточная продолжительность сна, либо его  Бессонницей
                      | (другое название — инсомния) называется расстройство сна у человека, при котором
                      | отмечается либо недостаточная продолжительность сна, либо его ....
            div(class="list__footer")
              div(class="row end-xs")
                div(class="col-xs-offset-10 col-xs-1")
                  span(class="views-icon") 989
                div(class="col-xs-1")
                  span(class="comments-icon") 3
        div(class="row list__pagination")
          div(class="col-xs-12")
            include components/pagination

block bottom
  //
  include components/dictionary

  // dictionary
  include components/directory