extends  core/layout

include core/mixins

append header
  link(
    href='/plugins/slick/slick.css',
    rel='stylesheet'
  )

block main
  main(class="main drug")
    // breadcrumbs
    div(class="breadbasket")
      div(class="row")
        div(class="col-xs-12")
          +breadcrumbsBg("Главная", "Лекарства", "Повышение иммунитета", "Деоксепин")

    article
      header
        div(class="row")
          div(class="col-sm-8 col-xs-12")
            h1(class="title") Доксепин
          div(class="col-sm-4 col-xs-12")
            div(class="row")
              div(class="col-sm-12 end-sm col-xs-12 start-xs")
                include components/stars-ratings
                //include components/rating
      div(class="row")
        div(class="col-sm-5 col-xs-12 pb-10")
          figure(class="drug__thumb")
            img(src="images/single-drug.png" class="thumbnail")
        div(class="col-sm-7 col-xs-12")
          div(class="row")
            div(class="col-xs-10")
              h5(class="context-menu__header") Содержание
            div(class="col-xs-2 end-xs")
              a(href="#" class="context-menu__favorite context-menu__favorite--added")
          div(class="row")
            div(class="col-xs-12")
                ul(class="context-menu__body")
                  each item in ["Фармакологическое действие","Беременность", "Побочные действия","Показания к применению","Способ применения","Противопоказания", "Лекарственное взаимодействие","Передозировка","Форма выпуска","Условия хранения","Состав","Фармакологическая группа"]
                    li(class="context-menu__item context-menu__item--decorated sprite__arrow-right")
                      a(href=`#${item}`)=item
      div(class="row drug__body")
        div(class="col-xs-12")
          h4(class="caption" id="Фармакологическое действие") Фармакологическое действие
          p
            | Доксепин относится к группе трициклических антидепрессантов, производных дибензоксепина.
            | Обладает комплексным действием - преимущественно антидепрессивным, антипаническим
            | (анксиолитическим), обезболивающим центрального действия, умеренным противоязвенным,
            | противозудным. За счет высокой афинности к м-холинорецепторам оказывает центральное и
            | периферическое холиноблокирующее действие; оказывает седативное и альфа-адреноблокирующее
            | действия, замедляет внутрижелудочковую проводимость в средних дозах, при превышении дозировки
            | может вызывать тяжелые нарушения ритма и проводимости, в крайних случаях остановку сердца.
            | Ранее анксиолитическое и позднее антидепрессивное действие реализуется за счет накопления
            | серотонина и норадреналина в центральной нервной системе и синапсах, за счет нарушения их
            | обратного всасывания в результате угнетения обратного нейронального захвата.
            | Длительное применение нормализует адренергическую и серотонинергическую передачу, которые
            | нарушаются при депрессивных состояниях. Улучшает настроение, устраняет апатию, уменьшает тревогу,
            | панические и депрессивные проявления. Эффективен при булемических расстройствах как
            | сопровождающихся депрессией, так и без нее. Уменьшает вегетативные проявления при невротических
            | расстройствах.

        div(class="col-xs-12")
          h4(class="caption") Показания применения
          p
            | - Депрессия (как проявление маниакально-депрессивного психоза а также при когнитивных
            | нарушениях), тревожность на фоне неврозов, неврозоподобных состояний, психозов, хронической
            | алкогольной зависимости, органических повреждениях ЦНС;#[br]
            | - панические расстройства;#[br]
            | - невротические реакции со стойкими резко выраженными вегетативными реакциями и нарушениями сна;#[br]
            | - премедикация перед проведением малоинвазивных процедур, не требующих общего наркоза
            | (к примеру, перед эндоскопическими исследованиями);#[br]
            | - в комплексной терапии язвенной болезни, предменструального синдрома, различных хронических
            | болевых синдромах, особенно при нейропатиях; профилактика мигрени, кожных зуд.

        div(class="col-xs-12")
          h4(class="caption" id="Побочные действия") Способ применения
          p
            | Принимается внутрь сразу после еды (раздражает слизистую оболочку желудка), запивая небольшим
            | количеством воды до 2-х раз в сутки. Начальная суточная доза при умеренных клинических
            | проявлениях составляет 75 мг, с последующим возможным увеличением путем титрования до 150 или
            | до 300 мг в сутки при выраженных симптомах депрессии.
            | При минимальных депрессивных и тревожных расстройствах суточную дозу уменьшают до 25-50 мг.
            | Длительность курса в среднем 2- 3 недели с постепенным снижение дозы до полной отмены.
            | Для подготовки перед эндоскопическими и другими малоинвазивными исследованиями препарат
            | вводят внутримышечно однократно в дозировке 25-50 мг в зависимости от веса пациента и
            | объема исследования за полчаса-час перед исследованием.

        div(class="col-xs-12")
          - var caption = "Побочные действия"
          h4(class="caption" id=`"${caption}"`)=caption
          p
            | Побочные действия связаны в основном с холиноблокирующим действием: нарушения зрения,
            | повышение внутриглазного давления при предрасположенности, нарушение биполярного зрения,
            | учащение ритма сердца, аритмии, разные степени внутрижелудочковых блокад, снижение
            | периферического давления, сухость слизистой оболочки полости рта, стоматиты, диспепсия,
            | запоры, вплоть до гипокинетической кишечной непроходимости, задержка мочи, сухость кожных
            | покровов и слизитсых.
            | #[br]#[br]
            | Нарушения сознания в виде спутанности, мнестические и когнитивные нарушения. Так же прием
            | препарата в ряде случаев может ухудшить депрессивные проявления, психотические
            | расстройства, привести к появлению продуктивной галлюцинаторной симптоматики,
            | делириозных состояний. Парестезии, миастения, учащение эпилептических эпизодов.
            | Нарушения гемопоэза: эозинофилия, цитопения, геморрагический васкулит. Нарушение эндокринной
            | системы - отек яичек, гинекомастия; увеличение размеров молочных желез, галакторея; снижение или
            | повышение либидо, снижение потенции, электролитные нарушения, нарушение обмена углеводов,
            | нарушение функции печени и почек.
            | Аллергические реакции: крапивница, ангионевротические отеки

        div(class="col-xs-12")
          - var caption = "Противопоказания"
          h4(class="caption" id=`"${caption}"`)=caption
          p
            | Принимается внутрь сразу после еды (раздражает слизистую оболочку желудка), запивая небольшим
            | количеством воды до 2-х раз в сутки. Начальная суточная доза при умеренных клинических
            | проявлениях составляет 75 мг, с последующим возможным увеличением путем титрования до 150
            | или до 300 мг в сутки при выраженных симптомах депрессии.
            | При минимальных депрессивных и тревожных расстройствах суточную дозу уменьшают до 25-50 мг.
            | Длительность курса в среднем 2- 3 недели с постепенным снижение дозы до полной отмены.
            | Для подготовки перед эндоскопическими и другими малоинвазивными исследованиями препарат
            | вводят внутримышечно однократно в дозировке 25-50 мг в зависимости от веса пациента и объема
            | исследования за полчаса-час перед исследованием.

    // carousel
    section(class="section popular-drugs")
      header(class="head")
        div(class="row top-xs")
          div(class="col-xs-12")
            h2(class="heading") Популярные БАД
            +decoration

      include components/slider/row

    // testimonials
    include components/comments

append footer
  script(src="/plugins/slick/slick.js")
  script(src="/js/app.js")