extends  core/layout

include core/mixins

block main
  main(class="main supplements-category")
    // breadcrumbs
    div(class="breadbasket")
      div(class="row")
        div(class="col-xs-12")
          +breadcrumbsBg("Главная", "БАД", "Сорбенты и детоксиканты")

    section(class="section category")
      header(class="head")
        div(class="row top-xs")
          div(class="col-xs-12")
            h2(class="heading") Сорбенты и детоксиданты

      div(class="list")
        - for (var i = 0; i < 7; i++)
          div(class="row list__item")
            div(class="col-md-3 col-xs-4")
              figure(class="list__thumbnail")
                a(href="#")
                  img(src=`/images/170x150/${i%5}.png`)
            div(class="col-md-9 col-xs-8")
              div(class="row")
                div(class="col-md-8 col-xs-12")
                  h4(class="list__header pb-10")
                    a(href="#") Бьютиформ
                div(class="col-md-4 col-xs-12")
                  div(class="list__rating")
                    include components/rating
              div(class="row")
                div(class="col-xs-12")
                  p(class="list__desc")
                    | Данный комплекс рекомендуется в качестве диетической добавки к рациону питания для лиц,
                    | которые контролируют массу тела.Способствует выведению токсических веществ из организма
                    | Данный комплекс рекомендуется в качестве диетической добавки к рациону питания для лиц,
                    | которые контролируют массу тела.Способствует выведению токсических веществ из организма
        div(class="row list__pagination")
          div(class="col-xs-12")
            include components/pagination

block bottom
  // dictionary
  include components/directory