extends  core/layout

include core/mixins

append header
  link(
    href='/plugins/slick/slick.css',
    rel='stylesheet'
  )

block main
  main(class="main supplements")
    // breadcrumbs
    div(class="breadbasket")
      div(class="row")
        div(class="col-xs-12")
          +breadcrumbsBg("Главная", "БАД")

    //category
    section(class="section supplements__grid")
      header(class="head")
        div(class="row top-xs")
          div(class="col-xs-12")
            h2(class="heading") Биологичестки активные доваки
            +decoration

      div(class="category-grid grid")
        - for (var i = 0; i < 10; i++)
          div(class="grid__item")
            a(href="/bad.html")
              figure(class="grid__img")
                  img(src=`/images/170x150/${i%6}.png`)
                  figcaption(class="grid__caption")
                    span(class="grid__title") Антибиотики
                    div(class="decoration")
                      span(class="decoration--black")
                      span(class="decoration--aqua")
                      span(class="decoration--spring")
    // articles
    section(class="section supplements__articles")
      header(class="head")
        div(class="row top-xs")
          div(class="col-xs-12")
            h2(class="heading") Статьи о БАД
            +decoration

      div(class="body")
        div(class="row")
          - for( var i = 0; i < 6; i ++)
            div(class="col-md-4")
              article(class="item")
                h4(class="item__title")
                  a(href="#") БАД созданы пришельцами
                p(class="item__body")
                  | Но, что особенно важно – гены несут
                  | всю информацию о здоровье человека
                  | и его предрасположенности....

      footer(class="bottom")
        div(class="row end-xs")
          div(class="col-xs")
            a(href="#" class="btn btn__arrow--right") Читать другие статьи

    // news
    section(class="section supplements__news")
      header(class="head")
        div(class="row top-xs")
          div(class="col-xs-12")
            h2(class="heading") БАД в новостях
            +decoration
      div(class="body")
        div(class="row top-xs")
          - for( var i = 0; i < 6; i ++)
            div(class="col-md-4")
              article(class="item")
                div(class="item__ceil")
                  div(class="calendar")
                    div(class="calendar__day") 23
                    div(class="calendar__month") января

                div(class="item__ceil")
                  h4(class="item__title")
                    a(href="#") БАД созданы прищельцами
                  p(class="item__body")
                    | Но, что особенно важно – гены несут
                    | всю информацию о здоровье человека
                    | и его предрасположенности несут
                    | всю информацию о здоровье человека
                    | несут всю информацию о здоровье
                    | человека....

      footer(class="bottom")
        div(class="row end-xs")
          div(class="col-xs")
            a(href="#" class="btn btn__arrow--right") Читать другие новости

    // carousel
    section(class="section popular-drugs")
      header(class="head")
        div(class="row top-xs")
          div(class="col-xs-12")
            h2(class="heading") Популярные БАД
            +decoration

      include components/slider/row

block bottom
  // dictionary
  include components/directory

append footer
  script(src="/plugins/slick/slick.js")
  script(src="/js/app.js")