extends  core/layout

include core/mixins

append header
  link(
    href='/plugins/slick/slick.css',
    rel='stylesheet'
  )

block main
  main(class="main")
    // breadcrumbs
    div(class="breadbasket")
      div(class="row")
        div(class="col-xs-12")
          +breadcrumbsBg("Главная", "Справочник", "Симптомы")

    section(class="section symptoms")
      header(class="head")
        div(class="row top-xs")
          div(class="col-xs-12")
            h2(class="heading") Симптомы
            +decoration
      div(class="alphabet")
        a(href="#а") a
        a(href="#б") б
        a(href="#в") в
        a(href="#г") г
        a(href="#д") д
        a(href="#е") е
        a(href="#ж") ж
        a(href="#з") з
        a(href="#и") и
        a(href="#к") к
        a(href="#л") л
        a(href="#м") м
        a(href="#н") н
        a(href="#о") о
        a(href="#п") п
        a(href="#р") р
        a(href="#с") с
        a(href="#т") т
        a(href="#у") у
        a(href="#ф") ф
        a(href="#х") х
        a(href="#ц") ц
        a(href="#ч") ч
        a(href="#ш") ш
        a(href="#щ") щ
        a(href="#э") э
        a(href="#ю") ю
        a(href="#я") я

      div(class="symptoms__item")
        each alpha in  ["а", "б", "в"]
          div(class="symptoms__header")
            span(class="alpha")=alpha
          div(class="list")
            - for (var i=0; i < 3; i++)
                div(class="list__item")
                  div(class="list__body")
                    span(class="heading-spring") Токсины
                    | - токсинами называются яды биологического происхождения.
                    | Токсинология – это наука о таких ядах. Выработка токсинов в человеческом
                    | организме может происходить в результате множества ...

    section(class="section popular-drugs")
      div(class="row")
        div(class="col-xs-12")
          h2(class="heading") Популярные БАД
          +decoration

      include components/slider/row

block bottom
  // dictionary
  include components/directory

append footer
  script(src="/plugins/slick/slick.js")
  script(src="/js/app.js")