div(class="list__item")
  div(class="list__body")
    span(class="heading-spring") Токсины
    | - токсинами называются яды биологического происхождения.
    | Токсинология – это наука о таких ядах. Выработка токсинов в человеческом
    | организме может происходить в результате множества ...