include ../../core/mixins

section(class="toxins section")
  header(class="head")
    div(class="row top-xs")
      div(class="col-xs-12")
        h2(class="heading") Словарь медицинских терминов
        +decoration
  div(class="list")
    - for (var i=0; i < 3; i++)
        include item