@import "../core/variables";
@import "../components/testimonials";

.article,
.articles-item,
.news-item {
  .breadcrumbs {
    padding-bottom: 35px;
  }
  .title {
    font-size: 1.57rem;
    font-weight: $bold;
  }

  > header {
    border-bottom: 1px solid #c3c3c3;
    padding-bottom: 30px;
  }

  .figure   {
    padding: 20px 0;
    text-align: center;
  }

  .thumbnail {
    width: 100%;
  }

  .comments-count {
   padding: 0 10px;
  }

  .caption {
    font-size: 1.29rem;
    font-weight: $bold;
    line-height: 2.35rem;
    padding-bottom: 40px;
  }

  .body {
    padding-bottom: 40px;
    > p {
      font-size: 1rem;
      font-weight: 400;
      line-height: 2.07rem;
    }
  }

  .popular-drugs {
    padding-bottom: 60px;
  }
}

.popular-drugs {
  box-sizing: border-box;
  //padding: 0 50px;

  .drugs-slider {
    .item-wrapper {
      padding:5px 9px;

      figure {
        border: 1px solid #e6e6e6;
        text-align: center;
        padding: 20px 0 15px 0;
        figcaption {
          font-size: 17px;
          font-weight: $bold;
        }
      }
    }
    .drugs-slider-dots {
      position: absolute;
      bottom: -35px;
      list-style: none;
      display: block;
      text-align: center;
      padding: 0;
      margin: 0;
      width: 100%;
      li {
        position: relative;
        display: inline-block;
        height: 20px;
        width: 20px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;
        button {
          border: 0;
          background: transparent;
          display: block;
          height: 20px;
          width: 20px;
          outline: none;
          line-height: 0px;
          font-size: 0px;
          color: transparent;
          padding: 5px;
          cursor: pointer;
          &:hover, &:focus {
            outline: none;
            &:before {
              //opacity: $slick-opacity-on-hover;
              background: $slick-dot-color-active;
              color: $slick-dot-color-active;
            }
          }
          &:before {
            position: absolute;
            top: 0;
            left: 0;
            content: '';
            width: 10px;
            height: 10px;
            border-radius: 5px;
            font-family: $slick-font-family;
            font-size: $slick-dot-size;
            line-height: 1.42rem;
            text-align: center;
            color: $slick-dot-color;
            background: $slick-dot-color;
            //opacity: $slick-opacity-not-active;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
          }
        }
        &.slick-active button:before {
          background: $slick-dot-color-active;
          //opacity: $slick-opacity-default;
        }
      }
    }
  }
}

.similar {
  //border-top: 1px solid #c3c3c3;
  padding-top:24px;
  padding-bottom: 60px;

  &__body {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
  }

  &__item {
    flex: 1 1 100%;
    padding: 10px;
    position: relative;

    img {
      width: 100%;
      height: auto;
    }

    figcaption {
      background: #353535;
      bottom: 0;
      left: 10px;
      right: 10px;
      position: absolute;
      font-size: 1.21rem;
      color:$white;
      text-align: center;
      padding: 20px 25px;
    }
  }
}

@media (min-width: $screen-sm) {
  .similar {
    &__body {
      //flex-direction: row;
    }
    &__item {
      flex: 1 1 50%;
    }
  }
}

@media (min-width: $screen-md) {
  .similar {

    &__body {
      //flex-direction: row;
    }
    &__item {
      flex: 4 4 25%;
    }
  }
}
