@import "../core/variables";

.catalog {
  &-illnesses {

  }

  &-symptoms {
    >.row {
      padding-bottom: 30px;
    }
  }

  &__title {
    font-size: 1.29rem;
    line-height: 2.35rem;
    font-weight: $bold;
  }

  &__item {
    max-width: 160px;
    max-height: 170px;
    overflow: hidden;
    position: relative;
    > img {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }

  &__item-caption {
    a {
      font-size: 1.14rem;
      color: #ffffff;
    }

    text-align: center;
    line-height: 2.21rem;
    padding: 10px 5px;
    background: rgba(0, 0, 0, .8);

    position: absolute;
    bottom: 0;
    left:0;
    right:0;
  }
}
