.category,
.news,
.articles {
  .heading {
    //border-bottom: 1px solid #e4e4e4;
    //font-size: 18px;
  }
  .pagination {
    text-align: right;
  }
}

.category,
.news,
.articles {
  .list {
    &__item {
      padding-bottom: 40px;
      border-bottom: 1px solid #e4e4e4;
      &:not(:first-child) {
        padding-top: 40px;
      }
    }
    &__header {
      font-size: 18px;
      font-weight: bold;
      line-height: 2.35rem;
      text-decoration: underline;
      //padding-bottom: 10px;
    }
    &__desc {
      font-size: 1rem;
      line-height:1.58rem;
    }
  }
}
