.contacts {
  &__header {

  }
  &__body {
    padding-top: 35px;
    font-size: 1.29rem;
    line-height: 2.35rem;
  }
  &__footer {
    padding: 40px 0;
    div {
      padding: 20px 0;
      .email {
        position: relative;
        font-size: 1.29rem;
        font-weight: bold;
        line-height: 2.35rem;
        &::before {

        }
      }
    }
  }
}
