@import "../core/variables";

.home {
  &__news-item {
    background-color: #fafafa;
    box-sizing: border-box;
    padding: 25px 15px;
  }

  &__news-item-date {
    background: #cdcdcd;
    color: $white;
    display: inline-block;
    font-size: 1rem;
    padding: 7px 10px;
  }

  &__news-item-title {
    font-size: 1.57rem;
    line-height: 3.07rem;
    font-weight: $bold;
    padding-top: 10px;
    padding-bottom: 15px;
    color:#404040;
    &:hover {
      text-decoration: underline;
    }
  }

  &__news-item-preview {
    padding: 20px 5px 20px 0;
    font-size: 1.14rem;
    line-height: 2.07rem;
    color: #646464;
  }

  &__news-item-info {

  }

  &__articles-body {
    //:nth-child(n) {
    //  padding-top: 10px;
    //}
  }

  &__articles-item {
    padding-top: 20px;
    figure {
      position: relative;
      overflow: hidden;

      &:hover figcaption {
        height: 140px;
        padding: 35px 25px 0 25px;
        a {
          visibility: visible;
        }
      }

      img {
        width: 100%;
      }

      figcaption {
        bottom: 0;
        box-sizing: border-box;
        position: absolute;
        height: 70px;
        left: 0;
        right: 0;
        color: $white;
        font-size: 1rem;
        background: rgba(70, 70, 70, .85);
        padding: 20px 25px 0 25px;
        transition: height .4s;

        a {
          border: 2px solid #62ca7b;
          color: #62ca7b;
          margin-top: 15px;
          display: block;
          font-size: .86rem;
          width: 130px;
          border-radius: 16px;
          text-align: center;
          line-height: 2.14rem;
          visibility: hidden;
          transition: background .2s;

          &:hover {
            background: $white;
            border-color: $white;
          }
        }
      }
    }
  }
}

.info {
  &__read-more {
    font-size: 1.14rem;
    line-height: 2.07rem;
    font-weight: $semibold;
    &:hover{
      text-decoration: underline;
    }
  }

  &__views-count {
    position: relative;
    color:$black;
    &::before {
      @extend .sprite;
      background-position: -5px -8px;
      position: absolute;
      height: 15px;
      width: 32px;
      left: -32px;
    }
  }

  &__comments-count {
    @extend .comments-count;
  }
}

.section.home {
  &__news {
    .row:first-child {
      padding-bottom: 15px;
    }
  }

}

.home > .section {
  padding-bottom: 70px;
}

.home,
.toxins,
.popular-drugs,
.similar,
.testimonials,
.illnesses,
.supplements {
  >.row:first-child {
    padding-bottom: 40px;
  }
  .heading {
    padding-bottom: 15px;
  }
  .decoration {
    width: 74px;
    height: 7px;
    &__item {
      margin-right: 2px;
    }
  }
}

.toxins {
  background: #efefef;
}

@media (min-width: $screen-sm) {
  .home {
    &__news-item-title {
      font-size: 1.3rem;
      line-height: 2.6rem;
    }

    &__articles-body {
      :nth-child(n+4) {
        padding-top: 50px;
      }
    }

    &__articles-item {
      padding-top: 0;
      max-width: 250px;
      figure{
        &:hover{
          figcaption {
            padding-left: 5px;
            padding-right: 5px;
          }
        }
        figcaption {
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    }
  }
}

@media (min-width: $screen-md) {
  .home {
    &__articles-item {
      figure {
        figcaption {
          height: 90px;
          text-overflow: ellipsis;
        }

        &:hover figcaption {
          height: 100%;
          padding: 35px 25px 0 25px;
        }
      }
    }
  }
}

@media (min-width: $screen-lg) {
  .home {
    &__articles-item {
      figure {
        &:hover figcaption {
          height: 140px;
        }
      }
    }
  }
}
