@import "../core/variables";
@import "../components/buttons";

.illnesses,
.pills,
.supplements {
  .grid__item:hover {
    .grid__caption {
      height: 65px;
    }
  }

  .grid .grid__caption > .decoration {
    position: absolute;
    bottom: -7px;
    width: 100%;
    padding: 0;
  }
}

.supplements {
  &__articles {
    .body {
      background: #f6f6f6;
      padding: 40px 45px 30px 45px;

      >.row {
        padding-bottom: 0;
      }
    }

    .item {
      padding-right:10px;
      padding-bottom:10px;

      &__title {
        font-size: 1rem;
        line-height: 2.07rem;
        font-weight: normal;
        color: #313131;
        position: relative;
        padding-bottom: 5px;

        &::before {
          border: solid #56d287;
          border-width: 0 3px 3px 0;
          content: '';
          display: inline-block;
          padding: 3px;
          transform: rotate(-45deg);
          position: absolute;
          left: -17px;
          top: 10px;
        }
      }

      &__body {
        font-size: .86rem;
        line-height: 1.35rem;
        text-decoration: underline;
      }
    }


    .bottom {
      background: #f2f2f2;
    }
  }

  &__news {
    .item {
      display: flex;

      &__ceil:nth-child(1) {
        flex: 0 0 45px;
        padding-right: 10px;
        box-sizing: border-box;
        padding-top: 10px;
      }

      &__ceil:nth-child(2) {
        flex: 0 .8 100%;
        padding-bottom: 20px;
      }

      &__title {
        font-size: 1rem;
        font-weight: $regular;
        line-height: 1.35rem;
        padding-bottom: 10px;
        display: table-cell;
        vertical-align:top;
      }

      &__body {
        font-size: .86rem;
        font-weight: $regular;
        line-height: 1.29rem;
        text-decoration: underline;
      }
    }

    .calendar {
      color: #ffffff;
      text-align: center;
      &__day {
        font-size: 1rem;
        line-height: 1rem;
        background: #49c3c2;
        padding: 7px 0;
      }
      &__month {
        font-size: .7rem;
        line-height: .7rem;
        background: #000000;
        padding: 3px 4px;
      }
    }
  }
}

.category-grid, .grid {
  margin: 0 -5px;
  display: flex;
  flex-wrap: wrap;

  &__item {
    flex: 0 0 50%;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 0 5px;
    position: relative;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__caption {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background: #ececed;
    color: #565656;
    height: 40px;
    position: absolute;
    left: 5px;
    right: 5px;
    bottom:0;
    transition: height .3s;
  }

  &__title {
    flex: 1 1 100%;
    justify-content: center;
    word-break: break-all;
    padding: 0 5px;
    text-align: center;
    font-weight: $bold;
    font-size: 1.14rem;
    line-height: 1.42rem;
  }
}

@media (min-width: $screen-sm) {
  .grid {
    &__item {
      flex: 0 0 33%;
    }
  }
}

@media (min-width: $screen-md) {
  .grid {
    &__item {
      flex: 0 0 25%;
    }
  }
}

@media (min-width: $screen-lg) {
  .grid {
    &__item {
      flex: 0 0 20%;
    }
  }
}
