@import "../core/variables";
@import "../components/stars-rating";

.illness {
  &__thumb {
    >.thumbnail {
      padding: 10px;
    }
  }
}

.similar-diseases,
.similar {
  .grid {
    display: flex;
    justify-content: center;
    &__item {
      flex: 0 0 80%;
    }
    &__caption{
      >.decoration {
        width: 100%;
        height: 7px;
        position: absolute;
        bottom: -7px;
      }
    }
  }

  .grid__item:hover{
    .grid__caption {
      height: 100px;
    }
  }

}

.drug,
.supplement,
.illness,
.symptom {
  .breadcrumbs {
    padding-bottom: 35px;
  }
  header {
    padding: 14px 0 13px 0;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 25px;
  }
  .title {
    font-size: 1.57rem;
    font-weight: $bold;
  }

  &__thumb {
    img {
      border: 5px solid #e9e9e9;
      width: 100%;
      height: auto;
    }
  }

  &__body {
    padding-top: 20px;

    .caption {
      border-bottom: 1px solid #e5e5e5;
      font-size: 1.29rem;
      font-weight: $bold;
      line-height: 2.35rem;
      padding: 40px 0 15px 0;
    }
    p {
      padding-top: 20px;
      font-size: 1rem;
      font-weight: $regular;
      line-height: 1.57rem;
    }
  }
  .popular-drugs {
    padding-bottom: 60px;
  }

  .testimonials {
    .testimonial {
      &__footer {
        padding-bottom: 25px;
      }
      &:last-child {
        .testimonial__footer {
          border: none;
        }
      }
    }

    &__header {
      padding-bottom: 20px;
    }

    &__wrapper {
      background: none;

      &:last-child {
        margin-top: 20px;
        padding-bottom:45px;

        >.testimonial-form {
          &__header {
            padding-top: 20px;
            font-weight: $bold;
          }
        }
      }
    }
  }
}

.context-menu {
  &__header {
    padding-bottom: 10px;
    //padding-left: 20px;
  }
  &__title {
    font-size: 1.29rem;
    line-height: 2.07rem;
    font-weight: $regular;
  }
  &__favorite {
    flex-basis: 30px;
    margin-left: auto;
    background: url($sprite) no-repeat -200px -8px;
    display: inline-block;
    height: 25px;
    width: 20px;
    &--added {
      background: url($sprite) no-repeat -225px -8px;
    }
  }
  &__body {
    //padding-left: 28px;
  }
  &__item {
    &--decorated {
      > a {
        color: #136d87;
        font-size: 1rem;
        line-height: 2.07rem;
        text-decoration: underline;
      }
    }
  }
}


@media (min-width: $screen-sm) {
  .context-menu {
    &__header {
      padding-left: 20px;
    }
    &__body {
      padding-left: 28px;
    }
  }
  .drug,
  .supplement,
  .illness,
  .symptom {
    .testimonials {
      &__wrapper {
        background: #f6f6f6;
      }
    }
  }

  .similar-diseases,
  .similar {
    .grid {
      justify-content: space-between;
      &__item {
        flex: 0 0 50%;
      }
    }

    .grid__item:hover{
      .grid__caption {
        height: 100px;
      }
    }

  }
}

@media (min-width: $screen-md) {

  .context-menu {
    &__header {
      padding-left: 40px;
    }
    &__body {
      padding-left: 60px;
    }
  }

  .similar-diseases,
  .similar {
    .grid {
      justify-content: space-between;
      &__item {
        flex: 0 1 25%;
      }
    }

    .grid__item:hover{
      .grid__caption {
        height: 65px;
      }
    }

  }

}