@import "../core/variables";

.symptoms,
.dictionary {
  &__header {
    >.alpha {
      font-size: 1.71rem;
      font-weight: bold;
      line-height: 2.78rem;
      color: #17a5ce;
      text-transform: capitalize;
    }
  }
  &__footer {
    padding: 10px 0;
    text-align: center;
    .more {
      font-size: 1.29rem;
      line-height: 2.35rem;
      font-weight: $semibold;
      color: #319056;
      text-decoration: underline;
    }
  }

  .alphabet {
    padding: 20px 0;
    text-align: center;
    > a {
      display: inline-block;
      font-size: 1.29rem;
      font-weight: $bold;
      line-height: 2.35rem;
      padding: 0 5px;

      color: #203887;
      text-transform: capitalize;
      text-decoration: underline;
    }
  }
}

.dictionary-item {
  &__body{
    font-size: 1rem;
    line-height: 1.85rem;
  }
}
