div(class="list__item")
  div(class="row")
    div(class="col-sm-3 visible-sm hidden-xs")
      figure(class="list__thumbnail")
        a(href="#")
          img(src=`/images/170x150/${i ? i%5 : 0}.png`)
    div(class="col-sm-9 col-xs-12")
      div(class="row")
        div(class="col-xs-12")
          h4(class="list__header")
            a(href="#") Гены - убийцы здоровья
        div(class="col-sm-12 visible-sm hidden-xs")
          div(class="list__date pb-10") 11.11.17
      div(class="row")
        div(class="col-xs-12")
          p(class="list__desc")
            | Бессонницей (другое название — инсомния) называется расстройство сна у человека, при
            | котором отмечается либо недостаточная продолжительность сна, либо его  Бессонницей
            | (другое название — инсомния) называется расстройство сна у человека, при котором
            | отмечается либо недостаточная продолжительность сна, либо его ....
  div(class="list__footer")
    div(class="row end-md")
      div(class="col-xs-offset-10 col-xs-1")
        span(class="views-icon") 989
      div(class="col-xs-1")
        span(class="comments-icon") 3