include ../core/mixins

section(class="section testimonials")
  div(class="testimonials__header")
    h2(class="testimonials__title testimonials__title--bordered") Комментарии
  div(class="testimonials__body")
    - for (var i=0; i < 3; i ++)
      div(class="row testimonial")
        div(class="testimonial__header col-xs-12 ")
          div(class="testimonial__author")
            a(href="#" class="testimonial__link testimonial__link--decorated") Антон
          div(class="testimonial__date") 11.11.2017 14:23
        div(class="testimonial__body col-xs-12")
          | Ранее анксиолитическое и позднее антидепрессивное действие реализуется за счет накопления серотонина и
          | норадреналина в центральной нервной системе и синапсах, за счет нарушения их обратного всасывания в
          | результате угнетения обратного нейронального захвата.
        footer(class="testimonial__footer col-xs-12")
          a(href="#" class="testimonial__reply testimonial__reply--hovered testimonial__reply--decorated") Ответить
    div(class="testimonial-form")
      div(class="testimonial-form__header") Что вы об этом думаете?
      div(class="testimonial-form__body")
        textarea(class="testimonial-form__input-field")
        button(class="testimonial-form__button testimonial-form__button--hovered") Отправить