// - directory component
section(class="directory")
  header(class="directory__header")
    h2(class="directory__title")
      span(class="directory__title-frame")
        | #[span(class="directory__title--spring") Справочник]
        | лекарственных препаратов
  div(class="directory__body")
    article(class="directory__item" )
      h3(class="directory__item-caption directory__item--text-left directory__item--text-center-xs") Существует несколько
      p(class="directory__item-body directory__item--text-left directory__item--text-center-xs")
        | Существует несколько классификаций,
        | основанных на различных признаках
        | лекарственных средств:#[br/]
        | • по химическому строению (например,
        | соединения- производные фурфурола,
        | имидазола, пиримидина и др.);#[br/]
        | • по происхождению — природные,
        | синтетические, минеральные;#[br/]
        | • по фармакологической группе
        | — наиболее распространенная
    article(class="directory__item visible-sm hidden-xs")
      h3(class="directory__item-caption directory__item--text-center") Существует несколько
      p(class="directory__item-body directory__item-body--bordered directory__item--text-center")
        | Существует несколько классификаций,
        | основанных на различных признаках
        | лекарственных средств:#[br/]
        | • по химическому строению (например,
        | соединения- производные фурфурола,
        | имидазола, пиримидина и др.);#[br/]
        | • по происхождению — природные,
        | синтетические, минеральные;#[br/]
        | • по фармакологической группе
        | — наиболее распространенная
    article(class="directory__item visible-sm hidden-xs")
      h3(class="directory__item-caption directory__item--text-right") Существует несколько
      p(class="directory__item-body directory__item--text-right")
        | Существует несколько классификаций,
        | основанных на различных признаках
        | лекарственных средств:#[br/]
        | • по химическому строению (например,
        | соединения- производные фурфурола,
        | имидазола, пиримидина и др.);#[br/]
        | • по происхождению — природные,
        | синтетические, минеральные;#[br/]
        | • по фармакологической группе
        | — наиболее распространенная