// sing in modal
div(id="sign-in" class="modal")
  div(class="modal-content")

    div(class="modal-header pb-20")
      div(class="modal-title") Вход в личный кабинет

    div(class="modal-body pb-20")
      form(action="#")
        div(class="row pb-20")
          div(class="col-xs-12 pb-5")
            label(class="required") Логин
          div(class="col-xs-12")
            input(type="text" class="modal-input")

        div(class="row")
          div(class="col-xs-12 pb-5")
            label(class="required") Пароль
          div(class="col-xs-12")
            input(type="password" class="modal-input")
        div(class="row center-xs")
          div(class="col-xs-12")
            a(href="#" class="remind") Напомнить пароль
    div(class="modal-footer")
      div(class="row center-xs")
        div(class="col-xs-12") Вход через:
        div(class="col-xs-12 pt-20 pb-15 social-auth")
          a(href="#" class="vk-round fa fa-vk social-btn")
          a(href="#" class="fb-round fa fa-facebook social-btn")
          a(href="#" class="gplus-round fa fa-google-plus social-btn")
        div(class="col-xs-12")
          button(class="btn btn-info btn-block" type="submit  ") Вход

// sing in modal
div(id="sign-up" class="modal")
  div(class="modal-content")
    div(class="modal-header pb-20")
      div(class="modal-title") Регистрация на сайте

    div(class="modal-body pb-20")
      form(action="#")
        div(class="row pb-20")
          div(class="col-xs-12 pb-5")
            label(class="required") Имя
          div(class="col-xs-12")
            input(type="text" class="modal-input")

        div(class="row pb-20")
          div(class="col-xs-12")
            label(class="required") Логин
          div(class="col-xs-12")
            input(type="text" class="modal-input")

        div(class="row pb-20")
          div(class="col-xs-12")
            label(class="required") Пароль
          div(class="col-xs-12")
            input(type="password" class="modal-input")

        div(class="row pb-20")
          div(class="col-xs-12")
            label(class="required") Электронная почта
          div(class="col-xs-12")
            input(type="email" class="modal-input")

    div(class="modal-footer")
      div(class="row center-xs")
        div(class="col-xs-12") Регистрация через:
        div(class="col-xs-12 pt-20 pb-15 social-auth")
          a(href="#" class="vk-round fa fa-vk social-btn")
          a(href="#" class="fb-round fa fa-facebook social-btn")
          a(href="#" class="gplus-round fa fa-google-plus social-btn")
        div(class="col-xs-12")
          button(class="btn btn-info btn-block" type="submit") Регистрация