@import "../core/variables";
@import "../components/common";

.breadcrumbs {
  // arrow
  :not(:last-child)::after{
    content: "\2192";
    margin:0 5px;
    display: inline-block;
    color: #313131;
  }
  &__item {
    color:#313131;
    font-size: .86rem;
    line-height: 1.57rem;
    font-weight: $regular;

    &--decorated {
      text-decoration: underline;
    }

    &:hover{
      color:#5bf691;
      text-decoration: underline;
    }

    &--bg {
      font-size: 1rem;
      line-height: 2.5rem;
    }
  }
}