.btn {
  display: inline-block;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  background: #4bbe73;
  padding:7px 20px;
  border: none;
  outline: none;
  cursor: pointer;

  &__arrow {
    &--right {
      &::after{
        content: "\2192";
        margin-left: 5px;
      }
    }
  }
}

.btn-arrow {
  &::after{
    content: "\2192";
    margin-left: 5px;
  }
}

.btn-info {
  background: #5bb3fe;
}

.btn-block {
  display: block;
  width: 100%;
}