.calendar-date {
  color: #ffffff;
  * {
    text-align: center;
  }
  &__day {
    font-size: 14px;
    line-height: 14px;
    background: #49c3c2;
    padding: 7px 0;
  }
  &__month {
    font-size: 9px;
    line-height: 9px;
    background: #000000;
    padding: 3px 4px;
  }
}


