@import "../core/variables";
@import "../core/mixins";
@import "padding";

// text
.capitalized {
  text-transform: capitalize;
}
.uppercase,
.upper {
  text-transform: uppercase;
}
.semi-bold {
  font-weight: $bold;
}

.bold {
  font-weight: $bold;
}

.tl{
  text-align:left;
}

.bt-1 {
  @include border-top(1px, #c3c3c3)
}

.bb-1 {
  @include border-bottom(1px, #c3c3c3)
}

.comments-count,
.comments-icon {
  background: #3ce176;
  color: $white;
  padding: 5px 10px;
  position: relative;
  &:hover {
    background: #3ab967;
  }
  &:hover::before {
    border-left: 10px solid #3ab967;
  }
  &::before {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 10px solid #3ce176;
    border-bottom: 5px solid transparent;
    bottom: -5px;
    left: 5px;
  }
}

.views-icon {
  position: relative;
  &::before {
    background: url($sprite) no-repeat -5px -8px;
    content: '';
    display: inline-block;
    position: absolute;
    height: 16px;
    width: 32px;
    left: -32px;
  }
}

.heading {
  font-size: 1.57rem;
  font-weight: $bold;
  line-height: 37px;

  &.section {
    padding-bottom: 20px;
    line-height: 22px;
  }
}

.vk-round,
.fb-round,
.gplus-round,
.tw-round,
.ok-round {
  @include circle(25px);
  font-size: .71rem;
  color: #fff;
}
.vk-round {
  background: #6996c7;
}
.fb-round {
  background: #496194;
}
.gplus-round {
  background: #fd483a;
}
.tw-round {
  background: #28c3ff;
}
.ok-round {
  background: #ff9c43;
}

.share {
  padding: 16px 10px;
  font-size: 1.29rem;
  font-weight: bold;
  text-align: right;
}

.share > .fa {
  margin-left: 5px;
  cursor: pointer;
}

.white {
  color: $white;
}

.link-hover {
  color: #313131;
  text-decoration: underline;
}

@media (min-width: $screen-sm ) {
  .share {
    padding: 16px 100px;
  }
}
