// colorize
.bg-aqua {
  background: #49c3c2;
}
.bg-black {
  background: #2e2e2e;
}
.bg-spring {
  background: #5bf691;
}

.decoration {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  height: 7px;

  &__item {
    flex: 0 0 32%;
    height: 100%;

    &--black {
      @extend .bg-black;
    }
    &--aqua {
      @extend .bg-aqua;
    }
    &--spring {
      @extend .bg-spring
    }
  }

  &__item-full {
    flex: 1 1 33.3%;
    height: 100%;

    &--black {
      @extend .bg-black;
    }
    &--aqua {
      @extend .bg-aqua;
    }
    &--spring {
      @extend .bg-spring
    }
  }

  &--black {
    @extend .bg-black;
    flex: 1 1 33%;
    width: 33%;
  }
  &--aqua {
    @extend .bg-aqua;
    flex: 1 1 33%;
    width: 33%;
  }
  &--spring {
    @extend .bg-spring;
    flex: 1 1 33%;
    width: 33%;
  }
}
