@import "../core/variables";

.directory {
  box-sizing: border-box;
  background: $white;
  display: flex;
  flex-direction: column;
  padding: 30px 10px;
  justify-content: space-between;

  &__header {

  }
  &__title {
    //border-bottom: 1px solid #e4e4e4;
    line-height: 1.8em;
    //margin: 10px 0 20px 0;
    text-align: center;
    &--spring {
      color: #56d287;
    }
  }
  &__title-frame {
    background: $white;
    padding: 0 20px;
    font-size: 1.57rem;
  }
  &__body {
    display: flex;
    padding-top: 35px;
  }
  &__item {
    flex: 1 1 33%;

    &--text-left {
      text-align: left;
    }
    &--text-center,
    &--text-center-xs {
      text-align: center;
    }
    &--text-right {
      text-align: right;
    }
  }
  &__item-caption {
    font-size: 1.29rem;
    font-weight: 700;
    padding: 0 40px 10px 40px;
  }

  &__item-body {
    font-size: 1rem;
    line-height: 24px;
    padding: 30px 40px 0 40px;
    &--bordered {
      border-left: 1px solid #e4e4e4;
      border-right: 1px solid #e4e4e4;
    }
  }
}

.directory {
  &-item {

  }
}

@media (min-width: $screen-sm ) {
  .directory {
    padding: 30px 20px;

    &__title {
      border-bottom: 1px solid #e4e4e4;
      line-height: 0.1em;
      margin: 10px 0 20px 0;
      //text-align: center;
      //&--spring {
      //  color: #56d287;
      //}
    }

    &__item-caption {
      padding-left: 15px;
      padding-right: 15px;
    }

    &__item-body {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

@media (min-width: $screen-md ) {
  .directory {
    padding: 30px 60px;

    &__item-caption {
      padding-left: 15px;
      padding-right: 15px;
    }

    &__item-body {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}