@import "../core/variables";

.modal {
  display: none;
  position: absolute;
  z-index: 10;
  padding-top: 100px;
  padding-bottom: 100px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 40px 50px;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.modal-header {
  .modal-title {
    font-size: 1.29rem;
    line-height: 2.35rem;
  }
}

.modal-body {
  .required {
    &::after {
      content: '*';
      color:#ff0000;
      padding-left: 3px;
    }
  }
  .modal-input {
    width: 100%;
    padding: 10px 5px;
  }
  .remind {
    color: #818182;
    line-height: 29px;
    text-decoration: underline;
  }
}

.modal-footer {
  .social-btn {
    margin-right: 5px;
  }
  .btn {
    //border-top: 3px solid transparent;
    border-bottom: 3px solid #0764b3;
  }
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.close {
  color: white;
  float: right;
  font-size: 2rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


@media (min-width: $screen-sm) {
  .modal-content {
    width: 340px;
  }
}