//padding 5px
.pl-5 {
  padding-left:5px;
}
.pr-5 {
  padding-left:5px;
}
.pt-5 {
  padding-top:5px;
}
.pb-5 {
  padding-bottom: 5px;
}

// padding 10px
.pl-10 {
  padding-left: 10px;
}
.pr-10 {
  padding-left: 10px;
}
.pt-10 {
  padding-top: 10px;
}
.pb-10 {
  padding-bottom: 10px;
}

// padding 15px
.pl-15 {
  padding-left: 15px;
}
.pr-15 {
  padding-left: 15px;
}
.pt-15 {
  padding-top: 15px;
}
.pb-15 {
  padding-bottom: 15px;
}

// padding 20px
.pl-20 {
  padding-left: 20px;
}
.pr-20 {
  padding-left: 20px;
}
.pt-20 {
  padding-top: 20px;
}
.pb-20 {
  padding-bottom: 20px;
}

.ptb-20 {
  @extend .pb-20;
  @extend .pt-20;
}

// padding 25px
.pl-25 {
  padding-left: 25px;
}
.pr-25 {
  padding-left: 25px;
}
.pt-25 {
  padding-top: 25px;
}
.pb-25 {
  padding-bottom: 25px;
}

// padding 30px
.pl-30 {
  padding-left: 30px;
}
.pr-30 {
  padding-left: 30px;
}
.pt-30 {
  padding-top: 30px;
}
.pb-30 {
  padding-bottom: 30px;
}

.mb-15 {
  margin-bottom: 15px;
}