.pagination {
  a, span {
    display: inline-block;
    color: #276cb9;
    text-decoration: underline;
    font-size: 1.29rem;
    line-height: 2.35rem;
    padding:0 5px;
  }
  .active {
    font-weight: 600;
    color: #000000;
  }
}