@import "../core/variables";
@import "../components/common";

.section {
  box-sizing: border-box;
  &__title {
    font-size: 1.57rem;
    line-height: 2.42rem;
    font-weight: bold;
  }
  &__body {

  }
}

.section-list {
  &__caption {
    font-size: 1.29rem;
    font-weight: $regular;
    line-height: 2.35rem;
    color: #383838;
    a:hover {
      @extend .link-hover;
    }
  }
  &__desc {
    font-size: 1rem;
    font-weight: $regular;
    line-height: 1.57rem;
    text-overflow: ellipsis;
  }
  > .row:not(:last-child) {
    padding-bottom: 45px;
  }
}