@import "../core/variables";

.rating {
  label {
    padding-top: 10px;
    float: none;
    position: relative;
    width: $star-size;
    height: $star-size;
    cursor: pointer;
    &:not(:first-of-type) {
      padding-right: $star-spacing;
    }
    &:before {
      content: "\2605";
      font-size: $star-size + 2px;
      color: $star-off-color;
      line-height: 1;
    }
  }
  input {
    display: none;
  }
  input:checked ~ label:before,
  &:not(:checked) > label:hover:before,
  &:not(:checked) > label:hover ~ label:before {
    color: $star-on-color;
  }
}

@media (min-width: $screen-sm) {
  .rating {
    padding:0 10px;
    label {
      float: right;
    }
  }
}