@import "../core/variables";

.testimonials {
  &__title {
    font-size: 22px;
    font-weight: $bold;
    line-height: 37px;
    padding-bottom: 22px;

    &--bordered {
      border-bottom: 1px solid #c3c3c3;
    }
  }
  &__body {
    padding: 0 15px 0 15px;
  }
  &__wrapper {
    padding: 0;
  }
}

.testimonial {
  padding-top: 15px;
  &__header {

  }
  &__author {

  }
  &__link {
    color:#23608b;
    font-size: 18px;
    line-height: 33px;
    &--decorated {
      text-decoration: underline;
    }
  }
  &__date {
    font-size: 14px;
    line-height: 29px;
  }
  &__body {
    line-height: 26px ;
  }
  &__footer {
    border-bottom: 1px solid #c3c3c3;
    padding-bottom: 10px;
    padding-top: 5px;
    text-align: right;
  }
  &__reply {
    padding: 10px ;
    &--decorated {
      text-decoration: underline;
    }
    &--hovered {
      position: relative;
      &:hover::before {
        background-position: -116px -5px;
      }
      &::before {
        @extend .sprite;
        background-position: -140px -5px;
        height: 20px;
        width: 20px;
        position: absolute;
        left: -16px;
        top: 10px;
      }
    }
  }
}

.testimonial-form {
  &__header {
    font-size: 18px;
    line-height: 30px;
    padding: 35px 0 20px 0;
  }
  &__body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__input-field {
    box-sizing: border-box;
    flex: 0 1 100%;
    height: 50px;
    width: auto;
    resize: none;
    padding: 12px 20px;
    margin-bottom: 5px;
  }
  &__button {
    flex: 0 0 180px;
    padding: 10px 0;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
    background: #67e292;
    border: none;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    &--hovered:hover {
      transition: background-color .2s;
      background: #3eaf6a;
    }
  }
}

@media (min-width: $screen-sm) {
  .testimonials {
    &__title {
      font-size: 22px;
      font-weight: $bold;
      line-height: 37px;
      padding-bottom: 22px;

      &--bordered {
        border-bottom: 1px solid #c3c3c3;
      }
    }
    &__body {
      padding: 0 15px 0 15px;
    }
    &__wrapper {
      padding: 0 15px 0 30px;
    }
  }
}

@media (min-width: $screen-md) {
  .testimonials {
    &__body {
      padding: 0 15px 0 30px;
    }
  }

  .testimonial-form {
    &__body {
      flex-wrap: nowrap;
    }
    &__input-field {
      box-sizing: border-box;
      flex: 0 1 100%;
      margin-right: 25px;
      height: 50px;
      width: auto;
      resize: none;
      padding: 12px 20px;
    }

    &__button {
      flex: 0 0 230px;
      margin-left: auto;
    }
  }
}
