@import "../core/variables";

.toxins{
  padding: 10px 15px;

  .section {
    &__header {
      padding-bottom: 25px;
    }
  }

}

.list {
  &__body {
    border-top: 1px solid #d8d8d8;
    padding: 20px 15px;
    line-height: 1.4;
  }
}
.heading-spring {
  color:#56d287;
  position: relative;
  padding-right: 5px;
  text-decoration: underline;

  &:before {
    border: solid #56d287;
    border-width: 0 3px 3px 0;
    content: '';
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    position: absolute;
    left: -15px;
    bottom: 7px;
  }
}


@media (min-width: $screen-sm) {
  .toxins{
    padding: 25px 100px 10px 30px;
  }
  .list {
    &__body {
      padding: 30px 0 30px 55px;
    }
  }
}

@media (min-width: $screen-md) {
  .toxins{
    padding: 25px 400px 10px 30px;
  }
}
@media (min-width: $screen-lg) {
  .toxins{
    padding: 25px 400px 10px 30px;
  }
}