div(class="col-sm-3 col-xs-6 pb-15")
    figure(class="catalog__item")
      a(href="#")
        img(src=`/images/160x170/${i ? i%2 : 0}.png`)
      figcaption(class="catalog__item-caption")
        a(href="#") Аллергология