include ../core/mixins

doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title Tabletka.club

    block header
      link(
      href='/css/main.css',
      rel='stylesheet'
    )
  body
    div(class="container")
      //- header
      header(class="header")
        div(class="row middle-xs")
          div(class="col-sm-1 center-sm col-xs-3 hidden-md")
            a(href="#nav" class="hamburger")
          div(class="col-lg-6 col-md-5 start-md col-sm-4 col-xs-6 center-xs" data-logo="container")
            div(class="logo")
              a(href="/")
                img(src="/images/logo.png")
              div(class="caption hidden-xs")
                sapn ПОРТАЛ
                span О ЛЕКАРСТВАХ
                span И БОЛЕЗНЯХ
          div(class="col-lg-3 col-md-4 col-sm-4 visible-sm-block end-sm col-xs-6 hidden-xs" data-search="container")
            div(class="search")
              form
                input(name="q" placeholder="Поиск")
          div(class="search-xs hidden-sm col-xs-1 end-xs")
            //span(class="sprite-search" data-search="mobile-btn")
            i(class="fa fa-search fa-2x" aria-hidden="true" data-search="mobile-btn")
          div(class="col-lg-3 col-md-3 col-sm-3 col-xs-2 end-xs")
            div(class="credentials-xs hidden-sm")
              //span(class="sprite-credentials hidden-sm" data-modal="sign-in")
              i(class="fa fa-sign-in fa-2x" aria-hidden="true" data-modal="sign-in")

            div(class="credentials visible-sm-block hidden-xs")
              a(class="login" href="#" data-modal="sign-in") Вход
              | /
              a(class="registration" data-modal="sign-up" href="#") Регистрация

      //- navigation
      nav(id="nav" class="navigation" role="navigation")
        ul(class="navbar")
          li(class="navbar-item")
            a(href="/pills.html" aria-haspopup="true")
              span Лекарства
            ul
              each item in ["Антибиотики", "Антибиотики", "Антибиотики", "Антибиотики"]
                li
                  a(href="/pills-item.html")
                    span=item
              li
                a(href="#", class="more")
                  span Смотреть все
          li(class="navbar-item")
            a(href="/supplements.html", aria-haspopup="true")
              span Бад
            ul
              li
                a(href="/supplements-item.html")
                  span Бад
              li
          li(class="navbar-item")
            a(href="/news.html", aria-haspopup="true")
              span Новостьи
            ul
              li
                a(href="/news-item.html")
                  span Новость
          li(class="navbar-item")
            a(href="/articles.html", aria-haspopup="true")
              span Статьи
            ul
              li
                a(href="/articles-item.html")
                  span Статья
          li(class="navbar-item")
            a(href="/catalog.html")
              span Справочник
          li(class="navbar-item")
            a(href="/dictionary.html", aria-haspopup="true")
              span Словарь
            ul
              li
                a(href="/dictionary-item.html")
                  span Слово
          li(class="navbar-item")
            a(href="/contacts.html")
              span Контакты

        span(class="hide-navigation") x
      div(class="content")
        //- page content
        block main
        // Aside menu
        aside(class="sidebar visible-sm-block hidden-xs")
          ul
            li(class="sidebar__title")
              i(class="fa fa-circle white")
              | Новые БАДЫ
            each item in ['Сильверин', 'Феррогематоген', 'Сертовит', 'Вибилон', 'Сильверин', 'Феррогематоген', 'Сертовит', 'Вибилон']
              li
                a(href="#")=item
          ul
            li(class="sidebar__title")
              i(class="fa fa-heartbeat")
              | Болезни
            each item in ['Крапивница', 'Пневмония', 'Бронхит', 'Варикоз', 'Мигрень', 'Мигрень', 'Тахикардия', 'Крапивница']
              li
                a(href="#")=item
          ul
            li(class="sidebar__title")
              i(class="fa fa-stethoscope")
              | Симптомы
            each item in ['Галюцинации', 'Головная боль', "Сыпь", "Усталость", "Боли", "Температура", "Учталость", "Сыпь"]
              li
                a(href="#")=item
          ul
            li(class="sidebar__title")
              i(class="fa fa-flask")
              | Новые лекарства
            each item in ['Галюцинации', 'Головная боль', "Сыпь", "Усталость", "Боли", "Температура", "Учталость", "Сыпь"]
              li
                a(href="#")=item

      //- toxins, dictionary etc...
      block bottom

      // Share
      section(class="section share")
        | Расскажи друзьям:
        a(class="fa fa-vk vk-round")
        a(class="fa fa-facebook fb-round")
        a(class="fa fa-twitter tw-round ")
        a(class="fa fa-odnoklassniki ok-round")
      //- footer
      footer(class="footer")
        div(class="footer__nav-wrapper")
          nav(class="footer__nav footer__nav-left")
            ul(class="footer__ceil")
              li(class="caption")
                a(href="#") Лекарства
              each item in ["Антидепресанты", "Антибиотики", "Спазмолитики", "Антидепресанты", "Антисептики", "Антисептики"]
                li(class="visible-sm hidden-xs")
                  a(href="#")=item
            ul(class="footer__ceil")
              li(class="caption")
                a(href="#") Бады
              each item in ["Сальвирин", "Сальвирин", "Сальвирин", "Сальвирин", "Сальвирин", "Сальвирин"]
                li(class="visible-sm hidden-xs")
                  a(href="#")=item
            ul(class="footer__ceil")
              li(class="caption")
                a(href="#") Симптомы
              each item in ["Галюцинации", "Головная боль", "Температура", "Сыпь"]
                li(class="visible-sm hidden-xs")
                  a(href="#")=item
            ul(class="footer__ceil")
              li(class="caption")
                a(href="#") Болезьни
              each item in ["Аллерология", "Аллерология", "Аллерология", "Аллерология"]
                li(class="visible-sm hidden-xs")
                  a(href="#")=item
          nav(class="footer__nav footer__nav-right")
            ul(class="footer__ceil")
              li(class="caption")
                a(href="#") Контакты
              li
                a(href="mailto:") piluli@piluli.ru
            ul(class="footer__ceil")
              li(class="caption") Мы в соц. сетях
              li(class="vk")
                i(class="fa fa-vk" aria-hidden="true")
                a(href="#") Вконтакте
              li(class="facebook")
                i(class="fa fa-facebook" aria-hidden="true")
                a(href="#") Facebook
              li(class="twitter")
                i(class="fa fa-twitter" aria-hidden="true")
                a(href="#") Twitter
              li(class="google-plus")
                i(class="fa fa-google-plus" aria-hidden="true")
                a(href="#") Google +
              li(class="od")
                i(class="fa fa-odnoklassniki" aria-hidden="true")
                a(href="#") Однокласники

        p(class="visible-sm hidden-xs")
          | Все материалы, представленные на сайте, носят исключительно справочный и ознакомительный характер и не могут считаться назначенным
          | врачом методом лечения или достаточной консультацией. Администрация сайта и авторы статей не несут ответственности за любые
          | убытки и последствия, которые могут возникнуть при использовании материалов сайта.
        p(class="visible-sm hidden-xs") PILULI &copy; 2017
      // application scripts
      block footer
        include ../components/modal
        script(src="https://code.jquery.com/jquery-2.2.4.js")