mixin decoration
  div(class="decoration")
    span(class="decoration__item decoration__item--black")
    span(class="decoration__item decoration__item--aqua")
    span(class="decoration__item decoration__item--spring")

mixin decorationFull
  div(class="decoration")
    span(class="decoration__item-full decoration__item--black")
    span(class="decoration__item-full decoration__item--aqua")
    span(class="decoration__item-full decoration__item--spring")

mixin breadcrumbs(...items)
  div(class="breadcrumbs")
    each item in items
      a(href="#" class="breadcrumbs__item")=item
      // span(class="breadcrumbs__item")=item

mixin breadcrumbsBg(...items)
  div(class="breadcrumbs")
    each item in items
      a(href="#" class="breadcrumbs__item breadcrumbs__item--bg")=item
    // span(class="breadcrumbs__item breadcrumbs__item--bg")=item

mixin link(href, name)
  a(href=href)= name

mixin heading(title)
  h3(class="heading")
    +link("#", title)